<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ios-config" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-ios-config</name>
    <description>Cordova plugin for custom iOS configuration (push notification fix)</description>
    <license></license>

      <js-module name="BackgroundPush" src="www/BackgroundPush.js">
        <clobbers target="cordova.plugins.BackgroundPush" />
    </js-module>


    <platform name="ios">
        <hook type="after_plugin_install" src="hooks/ios/after-plugin-install.js" />
        <config-file parent="/*" target="config.xml">
            <feature name="BackgroundPush">
                <param name="ios-package" value="BackgroundPush" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/BackgroundPush.h" />
        <source-file src="src/ios/BackgroundPush.m" />
    </platform>
</plugin>
